[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.33"
optimizer = true
optimizer_runs = 200
bytecode_hash = "none"
viaIR = true

[fuzz]
runs = 256

[fmt]
line_length = 120
tab_width = 4
